
 <div style="text-align:center">
    <h1>
        Payment Information
    </h1>
</div>
<div class="row">
    <div class="col-md-3">
    </div>
  
    <form class="needs-validation" novalidate>
        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" id="firstname" placeholder="First name" required>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" id="lastname" placeholder="Last name" required>
            <div class="valid-tooltip">
              Looks good!
            </div>
          </div>
          <div class="col-md-4 mb-3">
              <label for="middlename">Middle name</label>
              <input type="text" class="form-control" id="middlename" placeholder="Middle name" required>
              <div class="valid-tooltip">
                Looks good!
              </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="validationTooltip03">City</label>
            <input type="text" class="form-control" id="validationTooltip03" placeholder="City" required>
            <div class="invalid-tooltip">
              Please provide a valid city.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationTooltip04">State</label>
            <input type="text" class="form-control" id="validationTooltip04" placeholder="State" required>
            <div class="invalid-tooltip">
              Please provide a valid state.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationTooltip05">Zip</label>
            <input type="text" class="form-control" id="validationTooltip05" placeholder="Zip" required>
            <div class="invalid-tooltip">
              Please provide a valid zip.
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm" (click) ="gotoPrev()">Prev</button>
        <button type="button" class="btn btn-primary btn-sm" (click) ="gotoNext()">Submit</button>
      </form>
</div>