<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="col">      
    <nav>
      
    </nav>
  </div> 
  <div class="col-md-6 col-sm-12">
 
      <h1>
        {{ title }}
      </h1>
      <br>
      <p>Get the best prices on 1,900,000+ properties, worldwide</p>
      <br>
      <br>

      <form>
          <div class="form-row">
              <div class="form-group col-md-12">  
                  <div class="input-group">
                      <input id="typeahead-http" type="text" class="form-control form-control-lg" [class.is-invalid]="searchFailed" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Select Location.." />
                      <span *ngIf="searching">searching...</span>
                      <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
                  </div>                  
              </div>
          </div>
     
          <div class="form-row">
            <div class="form-group col-md-6">
                <div class="input-group">
                    <input class="form-control form-control-lg" (click)="dFrom.toggle()" placeholder="YYYY-MM-DD"
                           name="dFrom" [displayMonths]="displayMonths" [navigation]="navigation"
                           [showWeekNumbers]="showWeekNumbers" ngbDatepicker #dFrom="ngbDatepicker">
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="input-group">
                    <input class="form-control form-control-lg" (click)="dTo.toggle()" placeholder="YYYY-MM-DD"
                           name="dTo" [displayMonths]="displayMonths" [navigation]="navigation"
                           [showWeekNumbers]="showWeekNumbers" ngbDatepicker #dTo="ngbDatepicker">
                </div>
            </div>
          </div>
    
          <div class="form-row">
            <div class="form-group col-md-8">
              <select id="selectBusiness" class="form-control form-control-lg">
                <option selected>Choose...</option>
                <option>Hotel Reservations</option>
                <option>Van Rentals</option>
                <option>Wedding Venue Reservations</option>
                <option>Condo Reservations</option>
              </select>
            </div>
            <div class="form-group col-md-2">
                <button type="button" class="btn btn-primary btn-lg" (click) ="findBooking()">Find Bookings</button>
            </div>
          </div>          
        </form>        
    </div> 

  <div class="col">
      <!--<button type="button" class="btn btn-primary">Find Bookings</button>-->
  </div> 


  <!--    
  <pre>From: {{ fromDate | json }} </pre>
  <pre>To: {{ toDate | json }} </pre>  -->

</div>






