<!--The content below is only a placeholder and can be replaced.-->

<div class="row">
  <div class="col">      
    <nav>
      
    </nav>
  </div> 
  <div class="col">
    <div style="text-align:center">
      <h1>
        {{ title }}
      </h1>
    
      <p>Select date range of your bookings</p>
    
      <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t">
      </ngb-datepicker>
      
      <ng-template #t let-date="date" let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
      </ng-template>      
    </div> 
    <br>
    <div class="col">
      <!--<button routerLink="item/item-selection/89" type="button" class="btn btn-primary" (click) ="sawewit()">Find Bookings</button>-->
      <button type="button" class="btn btn-primary btn-sm" (click) ="findBooking()">Find Bookings</button>
      <button type="button" class="btn btn-primary btn-sm" (click) ="showConfig()">Find Bookings1</button>
    </div> 
    
  </div>
  <div class="col">
      <!--<button type="button" class="btn btn-primary">Find Bookings</button>-->
  </div> 


  <!--    
  <pre>From: {{ fromDate | json }} </pre>
  <pre>To: {{ toDate | json }} </pre>  -->

</div>






