<!--The content below is only a placeholder and can be replaced.-->

<section class="gallery-block cards-gallery">
  <div class="container">
      <div class="heading">
        <h2>Select a {{item}}</h2>
      </div>
      <div class="row">
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" [href]="img1">
                  <img [src]="img1" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
                  <button type="button" class="btn btn-primary btn-sm" (click) ="gotoClientDetails()">Book Now</button>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" [href]="img2">
                  <img [src]="img2" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
                  <button type="button" class="btn btn-primary btn-sm" (click) ="gotoClientDetails()">Book Now</button>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" [href]="img3">
                  <img [src]="img3" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
                  <button type="button" class="btn btn-primary btn-sm" (click) ="gotoClientDetails()">Book Now</button>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" [href]="img4">
                  <img [src]="img4" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
                  <button type="button" class="btn btn-primary btn-sm" (click) ="gotoClientDetails()">Book Now</button>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" [href]="img5">
                  <img [src]="img5" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
                  <button type="button" class="btn btn-primary btn-sm" (click) ="gotoClientDetails()">Book Now</button>
              </div>
          </div>
          <div class="col-md-6 col-lg-4">
              <div class="card border-0 transform-on-hover">
                <a class="lightbox" [href]="img6">
                  <img [src]="img6" alt="Card Image" class="card-img-top">
                </a>
                  <div class="card-body">
                      <h6><a href="#">Lorem Ipsum</a></h6>
                      <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                  </div>
                  <button type="button" class="btn btn-primary btn-sm" (click) ="gotoClientDetails()">Book Now</button>
              </div>
          </div>
      </div>
  </div>
</section>





<div class="container">
    <div class="row">
        <table class="table">
          <thead class="thead-inverse">
            <tr>
              <th class="text-center"> User Id </th>
              <th class="text-center"> Id </th>
              <th class="text-center"> Title </th>
              <th class="text-center"> Body </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let post of _postsArray">
                <td class="text-center" style="width:15px"> {{post.userId}} </td>
                <td class="text-center" style="width:15px"> {{post.id}} </td>
                <td class="text-center" style="width:200px"> {{post.title}} </td>
                <td class="text-center"> {{post.body}} </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
